<h1>Edit ingredient:</h1>

<%= form_for [@recipe, @ingredient] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :quantity %>
  <%= f.text_area :quantity%>
  <p><%= f.submit %></p>
<% end %>