# <h1>Ingredient: <%= @ingredient.name %></h1>
<h2>Recipe: <%= @recipe.name %></h2>
<h3><%= @ingredient.name %></h3>

<p><%= link_to "Edit ingredient", edit_recipe_ingredient_path(@recipe, @ingredient) %></p>
<p><%= link_to "Delete ingredient", recipe_ingredient_path(@recipe, @ingredient),:data => {:confirm => "Are you sure?", :method => "delete"} %></p>

<p><%= link_to "Return to recipe", recipe_path(@recipe) %></p>